{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Darshu's blog {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/post.css' %}">
    {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <h1>Darshu's Blog</h1>
                </a>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
                    <ul class="navbar-nav d-flex flex-row">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'new_post' %}" class=" btn btn-secondary px-2 me-2">
                                    {% include './icons/file-earmark-plus.svg' %} New post
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'draft_post_list' %}" class="btn btn-secondary px-2 me-2">
                                    {% include './icons/archive.svg' %} Drafts
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="#" class="btn btn-secondary px-3 me-2">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="btn btn-secondary px-3 me-2">
                                    Signup
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                <!-- </div> -->
            </div>
        </nav>
        <main class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-4 p-2 fs-6 fw-bold">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>