{% extends 'blog/base.html' %}

{% block title %}
    {{type2}} - {{block.super}}
{% endblock %}

{%block breadcrumb%}
    <li class="breadcrumb-item"><a class="text-decoration-none" href="/">{{type1}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{type2}}</li>
{%endblock%}


{% block content %}
    <form method="POST" class="post-form" novalidate>
        {% csrf_token %}
        {% include './includes/base_form.html' %}
        <button type="submit" class="save btn btn-success px-3 fw-semibold">Save</button>
    </form>
{% endblock %}
