<!DOCTYPE html>
<html>
    <head>
        <title>Darshu's blog</title>
    </head>
    <body>
        <header>
            <h1 style="text-align: center;"><a href="/">Darshu's Blog</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <h2>Title: {{post.title}}</h2>
                <time><b>Published on: </b>{{post.published_date}}</time>
                <h4>Author: {{post.author}}</h4>
                <p>{{post.text|linebreaksbr}}</p>
            </article><hr>
        {% endfor %}
    </body>
</html>