.post {
    padding: 0 20px;
    width: 100%;
    height: auto;
}

.details-post, .post:hover {
    background-color: lavender;
    border: 2px #f3f3f3;
    border-style: outset;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}


.details-post:hover {
    background-color: rgb(228, 228, 228);
}

.home-post {
    background-color: initial;
    border: 2px #9b9696;
    border-style: solid;
}


.post .side-heading {
    color: rgb(47, 140, 206);
    margin: 10px 0;
}

.post .side-heading span {
    color: initial;
    font-weight: 400;
}
