{% extends 'blog/base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'blog/css/auth.css' %}">
{% endblock %}
{% block title %}
    {% if validlink %}
        Reset password for {{form.user.username}} - {{block.super}}
    {% else %}
        Reset your password - {{block.super}}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'post_list' %}">Darshu's Blog</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        {% if validlink %}
                        <h3 class="card-title mb-3">Reset password for @{{form.user.username}}</h3>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% include '../includes/base_form.html' %}
                            <div class="d-grid">
                                <button class="btn btn-success" type="submit">Reset your password</button>
                            </div>
                        </form>
                        {% else %}
                            <h3 class="card-title mb-3">Reset your password</h3>
                            <div class="alert alert-danger" role="alert">
                                <p>It looks like you clicked on an invalid password reset link. Please try again.</p>
                            </div>
                            <div class="d-grid">
                                <a href="{% url 'password_reset' %}" class="btn btn-secondary">Request a new password reset link</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
