{% extends 'blog/base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'blog/css/auth.css' %}">
{% endblock %}

{% block title %}
    Reset your password - {{block.super}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'post_list' %}">Darshu's Blog</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-3">Reset your password</h3>
                        <p>Enter your email address and we will send you a link to reset your password.</p>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% include '../includes/base_form.html' %}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary px-3">Send password reset email</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <a href="{% url 'login' %}">Go back to login?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
