
{% extends 'blog/base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'blog/css/auth.css' %}">
{% endblock %}

{% block title %}
    Password reset success - {{block.super}}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
            <a href="{% url 'post_list' %}">Darshu's Blog</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title mb-3">Password reset successfull</h3>
                        <div class="alert alert-success" role="alert">
                            You have successfully changed your password! You may now proceed to log in.
                        </div>
                        <div class="d-grid">
                            <a href="{% url 'login' %}" class="btn btn-secondary">Continue to log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

